.imghabilidades{
    width: 400px;  
}
.iconhabilidades {
    position: relative; 
}
.container {
    filter: grayscale(1);
    position: relative; 
}
.container:hover{
    filter: grayscale(0);
}
span{
    width: 500px;
    height: 200px;
    margin-left: -200px;
}
.aviso{
    color: rgba(255, 255, 255, 0.242);
    margin-left: 600px;
}
.texto{
    width: 50%;
}
.texto-hover {
    color: white;
    position:absolute;
    text-align: center;
    left: 800px;
    top: 50px;
    display: none; 
}
.texto-hover2 {
    color: white;
    position:absolute;
    text-align: center;
    left: 636px;
    top: 50px;
    display: none; 
}
.texto-hover3 {
    color: white;
    position:absolute;
    text-align: center;
    left: 472px;
    top: 50px;
    display: none; 
}
.texto-hover4 {
    color: white;
    position:absolute;
    text-align: center;
    left: 800px;
    top: -112px;
    display: none; 
}
.texto-hover5 {
    color: white;
    position:absolute;
    text-align: center;
    left: 636px;
    top: -112px;
    display: none; 
}
.texto-hover6 {
    color: white;
    position:absolute;
    text-align: center;
    left: 472px;
    top: -112px;
    display: none; 
}
.container:hover .texto-hover {
    display: block; 
    position: absolute;
}
.container:hover .texto-hover2 {
    display: block; 
    position: absolute;
}
.container:hover .texto-hover3 {
    display: block; 
    position: absolute;
}
.container:hover .texto-hover4 {
    display: block; 
    position: absolute;
}
.container:hover .texto-hover5 {
    display: block; 
    position: absolute;
}
.container:hover .texto-hover6 {
    display: block; 
    position: absolute;
}
.row{
    margin: 0 auto; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    margin-right: 600px;
}
.icohtml:hover{
    background-image: url(/assets/img/html1.png);
}
.icocss:hover{
    background-image: url(/assets/img/css1.png) ;
}
.icojs:hover{
    background-image: url(/assets/img/js1.png) ;
}
.icojq:hover{
    background-image: url(/assets/img/jq1.png) ;
}
.icobs:hover{
    background-image: url(/assets/img/bs1.png) ;
}
.icogit:hover{
    background-image: url(/assets/img/git1.png) ;
}
.info-footer{
    color: white;
    position: relative;
    top: 280px;
    right:400px;
    
}
footer{
    position: relative; 
    color: rgb(255, 255, 255);
}
.E-mail{
    color:white;
    position: relative;
    top: 280px;
    right: 380px;
}
.feito{
    color:white;
    position: relative;
    top: 265px;
    right: 470px;
}
.desigin{
    color:white;
    position: relative;
    top: 250px;
    right: 460px;
}
.imghabilidades {
    opacity: 0;
    transform: translateX(-10%);
    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}
.visivel {
    opacity: 1;
    transform: translateX(0);
}






