.imgprojetos{
  width: 400px;  
}
.imgprojetos {
  opacity: 0;
  transform: translateX(-10%);
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}
.visivel {
  opacity: 1;
  transform: translateX(0);
}



.imgicopro {
  display: flex;
  justify-content: center;
  overflow-x: auto;
}

.carousel {
  display: flex;
  gap: 10px;
  padding: 10px;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  scroll-snap-align: start;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
